:root {
  font-size: 62.5%;

  --dark-bg: #3a3e4f;
  --light-bg: #f4ecfc;

  --purple: rgb(207, 161, 253);
  --green: #a0faa6;
  --yellow: #f1fa94;
  --blue: #8bfbf5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--purple);
}
a:hover {
  color: var(--blue);
}

h1,
h2 {
  font-family: 'Akshar', sans-serif;
  font-variant: small-caps;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--dark-bg);
  position: relative;
  color: var(--light-bg);
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
  margin: auto;
  padding: 2rem 2rem;
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  gap: 3rem;
  text-align: center;
}

.logo {
  width: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

h1 {
  font-weight: 500;
  font-variant: small-caps;
  font-size: 8rem;
  text-align: right;
  line-height: 5rem;
  color: var(--light-bg);

  position: relative;
}

h1::after {
  content: '';
  width: 100%;
  height: 0.2rem;
  background: var(--blue);
  position: absolute;
  bottom: -1.4rem;
  right: 0;
}

.about-container {
  text-align: right;
  height: 20rem;
  width: 26rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-container p {
  width: 100%;
}

.projects-container {
  text-align: center;
}

.project-list {
  display: grid;

  gap: 2rem;
}

.project-list li {
  font-family: 'Akshar', sans-serif;
  font-weight: 400;
  width: 26rem;

  text-align: right;
  font-variant: small-caps;

  font-size: 1.5rem;
  border-bottom: 2px solid var(--purple);
}

.project-list li:hover {
  font-size: 2.2rem;
  color: var(--blue);
  cursor: pointer;
}

.project-list li > span {
  font-size: 2.2rem;
  color: var(--light-bg);
}

.purple {
  color: hsl(270, 95%, 81%);
}

.rocket {
  width: 15vw;
  position: absolute;

  transform: rotate(30deg);

  animation: rocketship 5s cubic-bezier(0.4, 0.35, 0, 1) forwards;
}

.hidden-container {
  max-width: 80vw;

  position: relative;
  display: flex;

  flex-flow: column nowrap;
  align-self: center;

  gap: 2rem;
}
.hidden-container h2 {
  align-self: center;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.hidden-container a {
  align-self: center;
  font-size: 1.6rem;
}

.hidden-container img {
  width: 100%;
  max-width: 80rem;
  border-radius: 8px;
  pointer-events: none;
}

.hidden-container button {
  align-self: center;

  margin-top: 10px;

  font-variant: small-caps;
  font-family: 'Akshar', sans-serif;
  font-size: 2rem;
  line-height: 1.8rem;

  border: none;
  background: inherit;
  border-bottom: 3px solid var(--purple);

  color: var(--light-bg);
}

.hidden-container button:hover {
  color: var(--blue);
  cursor: pointer;
}

footer {
  font-variant: small-caps;
  font-size: 1.2rem;
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100vw;
}

.display-none {
  display: none;
}

@keyframes rocketship {
  0% {
    left: 0vw;
    top: 85vh;
  }

  50% {
    left: 80vw;
    top: 85vh;
  }

  95% {
    transform: rotate(-65deg);
  }

  100% {
    left: 80vw;
    top: -100vh;
    transform: rotate(-65deg);
  }
}

@media screen and (min-width: 920px) {
  .about-container {
    text-align: center;
    height: 20rem;
    width: 50rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  h1 {
    font-size: 10rem;
    text-align: center;
    line-height: 6rem;
  }
  .rocket {
    width: 6vw;
  }
  .project-list {
    padding: 0 2rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .display-none {
    display: none;
  }
}
